*{
    margin: 0;
    padding: 0;
}
/* style.css file*/
body {
	justify-content: center;
	height: 100%;
    width:100%;
    margin:0;
    padding: 0;
}
/*----------Top-Header----------*/
.header-content{
    display:flex;
    align-content: center;
    height: 15%;
    width: 100%;
}
.logo-img{
    height:100%;
    width: 15%;
    padding-left:3%;
}
.logo-img a img{
    height:75%;
    padding: 10px;
    vertical-align: middle;
}
nav {
    height: 100%;
    width: 100%;
    max-width: 100%;
    color: #244b77;
    display: flex;
    font-size:1.5rem ;
}
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,#6c3 0%,rgb(12, 88, 194) 50% ,rgb(255, 183, 0) 100% );
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
    height: 15%;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

nav,
.top-font{
    align-items: center;
    justify-content: center;
}
.header-nav{
    display: flex;
    float:right;
}
.navbar-brand{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.top-font{
    display: flex;
    height: 100%;
    width: 50%;
}
/*---------------MAIN BODY--------------*/
.container-fluid{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70%;
    width: 100%;
}
.row{
    display: flex;
    height: 100%;
    padding: 10px 10px 10px 0px;
}

.left-col,
.right-col,
.Home{
    display: flex;
}
.left-col{
    height: 90%;
    width: 4rem;
    background-color: #edebe6;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.right-col{
    width: 60%;
    border-radius: 10px;
    padding: 0 1%;
}
.attendance-details{
    background-color:#edebe6;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.at-de-heading,.at-de-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.at-de-heading{
    height: 15%;
    width: 100%;
    font-size: 30px;
}
.at-de-dropdown{
    position: relative;
    min-width: 250px;
    height: 10%;
}
.select-box:hover{
    transition: .2s;
    font-size: 20px;
}
.select-box,
.subj,
.bar{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    background-color: #151515;
    height: 20%;
}
.bar {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.bar span {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #4caf50;
    animation: bar-anima 1s;
}

.at-de-dropdown{
    form{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.select-box{
    transition: .5s;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 80%;
    height: 100%;
    color: black;
    font-size: 15px;
}
.navigate{
    padding: 10px 10px 0;
}

.nav-item{
    padding-bottom: 10px;
    a{
        align-items: center;
        height: 48px;
        width: 100%;
    }   
}
#prfle{
    display: none;
} 
.btn-primary{
    display: flex;
    justify-content: center;
    background-color:#ffffff;
    color: #000000;
    height: 48px;
    width: 2rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2vh;
    transition: .6s;
}
.btn-primary:hover{
    color: #244b77;
    span{
        margin-bottom: 10px;
        transition: .2s;
    }
}
.btn-primary.active{
    color:  white;
    background-color: #244b77;
    height: 48px;
    margin-left: 10px;
}

.show-attendance{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-attendance{
    height: 77%;
    width: 100%;
    .at-box{
        height: 90%;
        width: 90%;
        border-radius:10px
    }
}
.subj{
    height: 20%;
    margin-top: 5px;
    .bar{
        height: 15%;
        background-color:rgba(72, 70, 70, 0.87);
        text-align: right;
        animation: bar-anima 1s;
    }  
}
@keyframes bar-anima {
    0% {width:0}
    70% {width: 100%;}
}
  
/*--------------------PROFILE CARD-----------------------*/
.card {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 97%;
    border-radius: 10px;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
    background: #151515;
    overflow: hidden;
}
.detail{
    width: 10px;
    background-color: red;
}
.ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width:100%;
    height: 80px;
    background:#244b77;
    animation: dsTop 1.5s;
    .cross{
        visibility: hidden;
    }
}
.avatar-holder {
    position: absolute;
    margin: auto;
    top: 40px;
    right: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .name {
        position: absolute;
        margin: auto;
        top: 10vw;
        right: 0;
        bottom: 0;
        left: 0;
        width: inherit;
        padding: 0px;
        text-align: center;
        animation: mvBottom 1.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            transition:  .5s;
            &:hover {
                color: crimson;
                font-size: 20px;
                transition:  .5s;
            }
        }
        h6 {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        width: 40px;
        }
        h2,h4{
            padding: .5vw;
        }
    }
  
  @keyframes mvRight {
    0% {float:left;
        margin-left: 0;}
    100% {margin-left: 98%;}
  }
  @keyframes mvLeft{
    0%{margin-right:0 ;}
    100% {margin-right: 98%}
  }
  @keyframes mvBottom {
    0% {bottom: -550px;}
    99% {bottom: 0}
  }
  
  @keyframes mvTop {
    0% {top: -150px;}
    100% {top: 40px;}
  }
  
  @keyframes dsTop {
    0% {top: -150px;}
    100% {top: 0;}
  }
  
.edit-details{
    button{
        border: none;
    }
}
button {
	padding: 10px 20px;
	border: 1px solid #b2b2b2;
	outline: none;
	font-size: 15px;
	cursor: pointer;
	margin-top: 15px;
	background-color: #244b77;
	transition: 0.3s background-color;
}
button:hover {
    color:black;
}

.container {
	width: 100%;
	max-width: 500px;
	margin: 5px;
}

.container h1 {
	color: #ffffff;
}

.section {
	background-color: #ffffff;
	padding: 50px 30px;
	border: 1.5px solid #b2b2b2;
	border-radius: 0.25em;
	box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

/*---------------POP-UP-DETAILS--------------*/
#popup-edit-details,
.edit-button,
.edit-inputs{    
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup-edit-details{
    position: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(133, 160, 184);
    height:80%;
    width:60%;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    transform:translate(200%,-90%);
    a{
        font-size: 2rem;
    }
}

#popup-edit-details.active{
    transform: translate(24vw,-90%);
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.edit-inputs{
    height: 70%;
    width: 80%;
    flex-direction: column;
    a{
        padding: 20px;
        font-size: large;
    }
    input{
        padding: 15px;
        border: none;
        outline: none;
    }
}
input{
    width: 80%;
    height: 25%;
}
.edit-button{
    height: 20%;
    width: 100%;
    button{
        border-radius: 0;
    }
    h1{
        width: 15px;
    }
}
.container-fluid#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

@media only screen and (max-width: 400px) {
    .right-col{
        padding: 0 3%;
        width: 100%;
    }
    .ds-top,
    .avatar-holder,
    .name{
        animation: none;
    }
    .card{
        height: 65%;
        width: 75%;
        position: fixed;
        border-radius: 10px;
        box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
        background: #151515;
        overflow: hidden;
        visibility: hidden;
        transform: translate(-140%,0);
        transition: 2s;
    }
    .card.active{
            visibility: visible;
            transform: translate(0,0);
            transition: 2s;
            .ds-top{
                animation: dsTop 1.5s;
            }
            .avatar-holder {
                animation: mvTop 1.5s;
            }
            .name{
                animation: mvBottom 2s;
            }
            .cross{
                animation: mvRight 2s;
            }
    }
    #prfle
    {
        display:block;
    }
    #popup-edit-details{
        width: 85%;
    }
    #popup-edit-details.active{
        transform: translate(8%,-90%);
    }
    .ds-top{
        .cross{
            visibility: visible;
            border: none;
            float:right;
            &:hover{
                color: white;
            }
            &:active{
                .material-symbols-outlined.crs{
                    font-size: 30px;
                    transition: 0.1s;
                }
            }
        }
    }   
}